commands: 
  1-add-repo-epel:
    command: "# sudo amazon-linux-extras install epel"
  2-add-repo-node:
    command: "# sudo curl -sL https://rpm.nodesource.com/setup_18.x | bash -"
  3-install-libuv:
    command: "# sudo yum -y install libuv --disableplugin=priorities"
  4-install-npm:
    command: "# sudo yum -y nodejs npm --disableplugin=priorities"
