commands: 
  1-enable-repo-python:
    command: "sudo amazon-linux-extras enable python3.8"
  2-install-python38:
    command: "sudo yum install -y python3.8"
  3-link-python3:
    command: "sudo ln -sf /usr/bin/python3.8 /usr/bin/python3"
  4-link-pip3:
    command: "sudo ln -sf /usr/bin/pip3.8 /usr/bin/pip3"
